---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

    <div class="tabl">
    {% assign supplier = "" %}
    {% for bottle in site.data.nc_quarterly_pricing %}
      <div class="row">
        {% if supplier == bottle.supplier %}
          <div class="cell">
            {{ bottle.brand_name }}
          </div>
          <div class="cellright">
            {{ bottle.proof }}
          </div>
          <div class="cellright">
            {{ bottle.age }}
          </div>
          <div class="cellright">
            {{ bottle.bottle_size }}
          </div>
          <div class="cellright">
            {{ bottle.retail_bottle_price }}
          </div>
        </div>
        {% else %}
          </div>
          </div>
          <H2>{{ bottle.supplier }}</H2>
          <div class="tabl">
          {% assign supplier = bottle.supplier %}
        {% endif %}
      
    {% endfor %}
  </div>
</div>
